@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;700&display=swap');
@media screen and (max-width: 990px) {
    header nav {
        display: none;
    }
    span#burguer {
        display: block;
    }
}
@media screen and (min-width: 991px) {
    span#burguer {
        display: none;
    }
    header nav {
        display: block;
    }
}

@media print {
    span#burguer {
        display: none;
    }
    header nav {
        display: none;
    }

    main {
        text-align: center;
        margin: auto;
    }
    
    main p {
        text-align: center;
    }
}

/* Configurações para todas as páginas */

:root {
    --titulo-destaque: 'Yatra One', Arial, sans-serif;
    --texto-principal: 'El Messiri', Arial, sans-serif;
    --texto-padrao: Arial, Helvetica, sans-serif;
    --cor-destaque: #edc410;
    --cor-subdestaque: #564138;
    --cor-casual: #ece9118f;
    --cor-fundo-importante: white;
    --cor-texto-importante: black;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: var(--texto-principal);
    font-size: 1.02em;
}

span#burguer {
    background-color: var(--cor-destaque);
    color: var(--cor-fundo-importante);
    text-align: center;
    padding: 10px;
    margin-bottom: 15px;
}

span#burguer:hover {
    cursor: pointer;;
    color: var(--cor-texto-importante);
}

html {
    background: var(--cor-fundo-importante);  
}

p {
    text-indent: 15px;
    text-align: justify;
}

header {
    background-color: var(--cor-destaque);
    padding-bottom: 10px;
}

header h1 {
    text-align: center;
    padding: 10px;
    font-size: 2em;
}

header h2 {
    text-align: center;
    margin-top: -10px;
    margin-bottom: 10px;
    padding: 10px;
    color: var(--cor-fundo-importante);
    font-family: var(--titulo-destaque);
    font-size: 1em;
    font-weight: normal;
}

header > h1 > a {
    text-decoration: none;
    color: var(--cor-fundo-importante);
}

header nav {
    margin-bottom: 10px;
    text-align: center;
}

header > nav > a {
    margin-right: -4px;
    height: fit-content;
    color: var(--cor-fundo-importante);
    border: solid 0.5px var(--cor-fundo-importante);
    padding-right: 8px;
    padding-left: 8px;
    text-decoration: none;
    font-family: var(--texto-principal);
}

header > nav > a:hover {
    color: var(--cor-destaque);
    background-color: var(--cor-fundo-importante);
    border-radius: 10px;
    padding: 10px;
    transition-duration: 1s;
}

h1, h2 {
    font-family: var(--titulo-destaque);
}

main {
    padding: 10px;
    width: 90vw;
}

div#video {
    background-color: var(--cor-texto-importante);
    margin: 0px 10px 30px 10px;
    padding: 20px;
    padding-bottom: 56.5%;
    position: relative;
    border-radius: 10px;
}

footer {
    margin: 10px;
    margin-top: 50px;
    text-align: center;
    font-size: 0.7rem;
}

footer a {
    font-weight: bold;
    text-decoration: none;
    color: var(--cor-texto-importante);
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor-destaque);
    transition-duration: 0.5s;
}