@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;700&display=swap');
@media screen and (max-width: 990px) {
    header nav {
        display: none;
    }
    span#burguer {
        display: block;
    }
}
@media screen and (min-width: 991px) {
    span#burguer {
        display: none;
    }
    header nav {
        display: block;
    }
}

/* Configurações para todas as páginas */

:root {
    --titulo-destaque: 'Yatra One', Arial, sans-serif;
    --texto-principal: 'El Messiri', Arial, sans-serif;
    --texto-padrao: Arial, Helvetica, sans-serif;
    --cor-destaque: #FFD30F;
    --cor-subdestaque: #564138;
    --cor-casual: #ece9118f;
    --cor-fundo-importante: white;
    --cor-texto-importante: black;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: var(--texto-principal);
}

span#burguer {
    background-color: var(--cor-texto-importante);
    color: var(--cor-destaque);
    text-align: center;
    padding: 10px;
    margin-bottom: 15px;
}

span#burguer:hover {
    cursor: pointer;
    background-color: var(--cor-destaque);
    color: var(--cor-texto-importante);
}

html {
    background: #ffd30f;
    background: radial-gradient(circle, #ffd30f 75%, #ece9118f 100%);
}

p {
    text-indent: 15px;
    text-align: justify;
}

header {
    background-color: var(--cor-texto-importante);
    padding-bottom: 10px;
}

header h1 {
    color: var(--cor-fundo-importante);
    text-align: center;
    padding: 10px;
    text-shadow: 0px 0px 0px black;
}

header nav {
    margin-bottom: 10px;
    text-align: center;
}

header > nav > a {
    margin-right: 5px;
    color: var(--cor-destaque);
    text-decoration: none;
    font-family: var(--texto-principal);
}

header > nav > a:hover {
    color: var(--cor-texto-importante);
    background-color: var(--cor-destaque);
    border-radius: 10px;
    padding: 10px;
    transition-duration: 1s;
}

header > nav > a#categorias {
    display: none;
}

h1, h2 {
    font-family: var(--titulo-destaque);
}

main {
    padding: 10px;
    width: 90vw;
    margin: auto;
}