@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;700&display=swap');

/* Configuração da primeira página */

:root {
    --titulo-destaque: 'Yatra One', Arial, sans-serif;
    --texto-principal: 'El Messiri', Arial, sans-serif;
    --texto-padrao: Arial, Helvetica, sans-serif;
    --cor-destaque: #FFD30F;
    --cor-subdestaque: #564138;
    --cor-casual: #ece9118f;
    --cor-fundo-importante: white;
    --cor-texto-importante: black;
}

main article {
    background-color: var(--cor-texto-importante);
    padding: 10px;
    border: solid 3px var(--cor-subdestaque);
    border-radius: 10px;
    padding-bottom: 20px;
}

main article img {
    border: solid 2px var(--cor-subdestaque);
    width: 95%;
    height: 20%;
    margin: 20px;
}

main > article > p {
    color: var(--cor-fundo-importante);
}

main article a {
    color: yellow;
    border: solid 2px yellow;
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
}

main article a:hover {
    text-decoration: underline;
}

main article h2 {
    font-size: 2em;
    color: var(--cor-destaque);
}

main section {
    background-color: var(--cor-casual);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: dashed 2px var(--cor-texto-importante);
    /* sem manchetes por enquanto */
    display: none;
}

main section iframe {
    width: 31%;
    height: 250px;
    margin: 10px;
    border: solid 2px var(--cor-subdestaque);
    border-radius: 10px;
}

footer {
    display: none;
    background-color: var(--cor-texto-importante);
    color: var(--cor-fundo-importante);
}

footer p {
    text-align: center;
}

footer a {
    color: var(--cor-destaque);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer p#creditos {
    font-size: 0.75em;
}