@charset "UTF-8";

/* Padrão para todas as manchetes */

main {
    padding: 10px;
    width: 90vw;
    margin: auto;
}

main article {
    width: 65vw;
    background-color: var(--cor-fundo-importante);
    padding: 10px;
    padding-bottom: 20px;
    margin: auto;
}

article > picture {
    margin: auto;
    text-align: center;
}

article > picture > img {
    display: block;
    margin: auto;
    max-width: 65%;
}

article > picture > legend {
    font-size: 0.8em;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

main > article > p {
    color: var(--cor-texto-importante);
}

main article a {
    color: var(--cor-texto-importante);
    text-decoration: none;
}

main article a:hover {
    text-decoration: underline;
}

main article h2 {
    font-size: 2em;
    color: var(--cor-destaque);
    margin: auto;
    text-align: center;
}

p#autor {
    font-weight: bold;
    margin: auto;
    text-align: center;
    text-indent: -10px;
}

picture legend a {
    text-decoration: underline;
}