@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;700&display=swap');

/* Configuração apenas da página de contato */

:root {
    --titulo-destaque: 'Yatra One', Arial, sans-serif;
    --texto-principal: 'El Messiri', Arial, sans-serif;
    --texto-padrao: Arial, Helvetica, sans-serif;
    --cor-destaque: #FFD30F;
    --cor-subdestaque: #564138;
    --cor-casual: #ece9118f;
    --cor-fundo-importante: white;
    --cor-texto-importante: black;
}

main {
    margin-top: 10px;
    border: solid 3px var(--cor-fundo-importante);
}

span#instagram a {
    color: #9d3445;
}

span#facebook a {
    color: blue;
}

span.icons a {
    text-decoration: none;
    margin: 10px;
}

span.icons p {
    margin: 10px;
}

span#facebook a:hover {
    text-decoration: underline;
    font-weight: bold;
    padding: 7px;
    border: solid 2px blue;
}

span#instagram a:hover {
    text-decoration: underline;
    font-weight: bold;
    padding: 7px;
    border: solid 2px #9d3445;
}

span.icons img {
    height: 15px;
    width: 15px;
    margin-left: 10px;
    display: none;
}

span.icons:hover img {
    display: inline-block;
}